/*! Imports Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

:root {
  --color-primario: #000000;
  --color-secundario: #f6f6f6;
  --color-terciario: #22d4fd;
  --color-hover: #272727;
  --fuente-jockey-one: "Jockey One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  height: 100vh;
  box-sizing: border-box;
  height: 100vh;
}

header {
  padding: 2% 0 0 15.6%;
}

.header__menu {
  display: flex;
  gap: 7%;
}

.header__menu__link {
  color: var(--color-terciario);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--fuente-jockey-one);

  &:hover {
    transition: all 0.3s linear;
    color: var(--color-secundario);
  }
}

.presentacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6% 6%;
}

.presentacion__contenido {
  width: 615px;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}

.presentacion__contenido__titulo {
  font-size: 2.25rem;
  font-family: var(--fuente-jockey-one);
}

.presentacion__contenido__subtitulo {
  font-size: 2rem;
  font-family: var(--fuente-jockey-one);
}

.titulo-destaque {
  color: var(--color-terciario);
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.presentacion__contenido__texto {
  font-size: 1.5rem;
  font-family: var(--fuente-jockey-one);
}

.presentacion__enlaces {
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
  align-items: center;
  padding: 2% 0;
}

.presentacion__enlaces__subtitulo {
  font-family: var(--fuente-jockey-one);
  font-family: 1.5rem;
  font-weight: 400;
}

.presentacion__enlaces__link {
  box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.7);
  width: 50%;
  text-align: center;
  padding: 21.5px 0;
  border-radius: 8px;
  font-family: var(--fuente-jockey-one);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-secundario);
  text-decoration: none;
  border: 2px solid var(--color-terciario);
  display: flex;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: var(--color-hover);
    box-shadow: none;
    cursor: pointer;
    border-color: #0000ff;
  }
}

.presentacion__imagen__perfil {
  width: 30%;
  margin: 5% 0;
  box-shadow: 0 0 10px var(--color-terciario);
  border-radius: 10px;
}

.footer {
  background-color: var(--color-terciario);
  padding: 24px;
  color: var(--color-primario);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--fuente-jockey-one);
}

/* Media Queris - Mobile Mode */
@media (max-width: 1200px) {
  .header{
    padding: 6% 0 0 0;

    & .header__menu{
      justify-content: center;
    }
  }

  .presentacion {
    padding: 5%;
    flex-direction: column-reverse;

    & .presentacion__contenido{
      width: auto;
      text-align: center;
    }

    & .presentacion__contenido__texto{
      text-align: justify;
    }

    & .presentacion__imagen__perfil{
      width: 50%;
    }
  }
}
